@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Cyber Fortress</h1>
        <p class="lead">Cyber Fortress is a website that provides free and secure storage of files.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">How to get started on the platform?</h2>
            <p>
                All you have to do is to register an account and just like that you can start uploading files. Every user has a capacity of 1000 KB of encrypted data.
            </p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44322/StoredFiles/Upload">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">How do we protect your data?</h2>
            <p>
                As you upload a file, it is immediately encrypted using AES encryption. We use separate key for every file you upload to upgrade the security level.
            </p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44322/StoredFiles">Learn more &raquo;</a></p>
        </section>
    </div>
</main>